* {
    font: 2vmin monospace;
    text-align: center;
}
button {
    margin-bottom: 2vh;
}
#interfaceDiv {
    display: block;
    margin-top: 0vh;
}
#rowDiv {
    display: block;
    margin-top: 0vh;
    width: 80vw;
}
#infoDiv {
    display: table-cell;
    float: right;
}
#subjectsDiv {
    display: table-cell;
    margin-top: 0vh;
    float: left;
    height: fit-content;
}
#subjectsTable {
    margin-top: 0vh;
}
td {
    font: 2vmin monospace;
    padding-left: 1vmin;
    padding-right: 1vmin;
}